<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</root>
		
		<!--the console appender-->
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<!--specifying the displayed layout-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{yyyy/MM/dd HH:mm:ss} %level %logger - %message%newline" />
			</layout>
		</appender>

		<!--a file appender for error logs-->
		<appender name="file" type="log4net.Appender.FileAppender">
			<!--specifying the file-->
			<file value="..\..\..\..\Logs\errorLog.log" />
			<!--specifying the displayed layout-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>